<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Growthing</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
  .bg_design{
    background-color: #D7F5FF;
    height: 92.5vh;
    width: 100wh;
  }
  .main_content{
    padding: 50px;
  }
  .explain_text{
    width: 500px;
    font-size: 20px;
  }
  .heading{
    font-size: 75px;
  }
  .search_bar{
    align-self: flex-end;
  }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Growthing</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/explore">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ongoing">Ongoing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/assistant">Assistant</a>
              </li>
              <div class = "search_bar">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
            </ul>
          </div>
        </div>
      </nav>
      
  </header>
  <main>
    <div class="bg_design">
      <div class= "main_content">
      <h1 class="heading">Growthing</h1>
      <p class="explain_text">
        Learning anything while doing is best way to learn.
        And we are here to assist you to do the same. 
        Choose a project, help us understand you expierence, and we will guide you to reach exellence.
      </p>
      <a href="/explore" class="btn btn-primary">Explore Projects</a>
      <!-- <a href="/" class="btn btn-primary">Sign up/get started</a>
    </div> -->
    <!-- <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Explore Project</h5>
              <p class="card-text">Select a project from wide varity of project avaible.</p>
              <a href="/explore" class="btn btn-primary">Explore Projects</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ongoing Projects</h5>
              <p class="card-text">Open your ongoing projects</p>
              <a href="/ongoing" class="btn btn-primary">Ongoing Projects</a>
            </div>
          </div>
        </div>
      </div>
    <div class="d-grid gap-2 col-3 mx-auto mt-3">
        <a href="gethelp.html" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Get help from AI</a>
       </div> -->
  </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
